# عمومی
NODE_ENV=development
PORT=3124
NEXT_PUBLIC_SITE_URL=https://tamirban1.ir

# پایگاه داده
MONGODB_URI=mongodb://tamirban_tamirban1:Ronak123Ronak@178.239.147.121:27017/tamirban_tamirban1

# احراز هویت OTP
OTP_TEST_CODE=0000
OTP_EXPIRATION_MINUTES=5
JWT_SECRET=ey-name-to-behtarin-saraghaz-ey-name-to-behtarin-saraghaz
JWT_REFRESH_SECRET=ey-name-to-behtarin-saraghaz-ey-name-to-behtarin-saraghaz
BCRYPT_SALT_ROUNDS=10

# سرویس پیامکی (پس از دریافت دسترسی تکمیل شود)
SMS_PROVIDER_API_KEY=
SMS_PROVIDER_SENDER_NUMBER=

# تنظیمات PWA
NEXT_PUBLIC_PWA_NAME=TamirBan
NEXT_PUBLIC_PWA_SHORT_NAME=TamirBan
NEXT_PUBLIC_PWA_DESCRIPTION=TamirBan CRM Progressive Web App


